<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewDonorExcelServlet</servlet-name>
        <servlet-class>servlet.AddNewDonorExcelServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>AddNewDonorManualServlet</servlet-name>
        <servlet-class>servlet.AddNewDonorManualServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableDonorServlet</servlet-name>
        <servlet-class>servlet.AvailableDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnavailableDonorServlet</servlet-name>
        <servlet-class>servlet.UnavailableDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExDonorServlet</servlet-name>
        <servlet-class>servlet.ExDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllDonorServlet</servlet-name>
        <servlet-class>servlet.AllDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonorPersonalInfoServlet</servlet-name>
        <servlet-class>servlet.DonorPersonalInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationHistoryServlet</servlet-name>
        <servlet-class>servlet.DonationHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDonorInfoEdit</servlet-name>
        <servlet-class>servlet.ShowDonorInfoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowDonationInfoEdit</servlet-name>
        <servlet-class>servlet.ShowDonationInfoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewUserServlet</servlet-name>
        <servlet-class>servlet.AddNewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUserInfoEdit</servlet-name>
        <servlet-class>servlet.ShowUserInfoEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserInfoServlet</servlet-name>
        <servlet-class>servlet.EditUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>servlet.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDonationServlet</servlet-name>
        <servlet-class>servlet.DeleteDonationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDonorServlet</servlet-name>
        <servlet-class>servlet.DeleteDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewDonationServlet</servlet-name>
        <servlet-class>servlet.AddNewDonationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDonationInfoServlet</servlet-name>
        <servlet-class>servlet.EditDonationInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDonorInfoServlet</servlet-name>
        <servlet-class>servlet.EditDonorInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GiveFeedbackServlet</servlet-name>
        <servlet-class>servlet.GiveFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <servlet-class>servlet.FeedbackManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGuestDonorServlet</servlet-name>
        <servlet-class>servlet.AddGuestDonorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGuestDonorServlet</servlet-name>
        <servlet-class>servlet.ShowGuestDonorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDonorExcelServlet</servlet-name>
        <url-pattern>/AddNewDonorExcelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDonorManualServlet</servlet-name>
        <url-pattern>/AddNewDonorManualServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableDonorServlet</servlet-name>
        <url-pattern>/AvailableDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnavailableDonorServlet</servlet-name>
        <url-pattern>/UnavailableDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExDonorServlet</servlet-name>
        <url-pattern>/ExDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllDonorServlet</servlet-name>
        <url-pattern>/AllDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonorPersonalInfoServlet</servlet-name>
        <url-pattern>/DonorPersonalInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationHistoryServlet</servlet-name>
        <url-pattern>/DonationHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDonorInfoEdit</servlet-name>
        <url-pattern>/ShowDonorInfoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowDonationInfoEdit</servlet-name>
        <url-pattern>/ShowDonationInfoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUserServlet</servlet-name>
        <url-pattern>/AddNewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUserInfoEdit</servlet-name>
        <url-pattern>/ShowUserInfoEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserInfoServlet</servlet-name>
        <url-pattern>/EditUserInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDonationServlet</servlet-name>
        <url-pattern>/DeleteDonationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDonorServlet</servlet-name>
        <url-pattern>/DeleteDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewDonationServlet</servlet-name>
        <url-pattern>/AddNewDonationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDonationInfoServlet</servlet-name>
        <url-pattern>/EditDonationInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDonorInfoServlet</servlet-name>
        <url-pattern>/EditDonorInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GiveFeedbackServlet</servlet-name>
        <url-pattern>/GiveFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackManagementServlet</servlet-name>
        <url-pattern>/FeedbackManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGuestDonorServlet</servlet-name>
        <url-pattern>/AddGuestDonorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowGuestDonorServlet</servlet-name>
        <url-pattern>/ShowGuestDonorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <display-name>
        KIN BLOOD
    </display-name>
    <welcome-file-list>
        <welcome-file>Home.jsp </welcome-file>
    </welcome-file-list>
</web-app>
